name: Unit Test

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]

concurrency:
  cancel-in-progress: true
  group: test-unit-${{ github.event.pull_request.number || github.sha }}

jobs:
  unit-test:
    runs-on: ${{ matrix.config.os }}
    strategy:
      fail-fast: false
      matrix:
        config:
          - os: macos-12
          - os: macos-13
          - os: macos-14
          - os: ubuntu-20.04
          - os: ubuntu-22.04
          - os: windows-2022
    steps:
      - uses: actions/checkout@v4
      - if: runner.os == 'Linux'
        run: sudo apt-get install ninja-build valgrind
      - if: runner.os == 'Windows'
        uses: ilammy/msvc-dev-cmd@v1
      - if: runner.os == 'Windows'
        uses: ilammy/setup-nasm@v1
      - uses: actions/cache@v4
        with:
          path: |
            build/openssl
            build/openssl-prefix
            build/openssl-src
          key: cmake-openssl-${{ matrix.config.os }}-${{ hashFiles('cmake/DownloadOpenSSL.cmake') }}
      - if: runner.os == 'Windows'
        run: New-Item -ItemType Directory -Force -Path build
      - if: runner.os != 'Windows'
        run: mkdir -p build
      - run: cmake . -B ./build -DLIBTHE_BUILD_EXAMPLES=ON -DLIBTHE_BUILD_TESTS=ON
      - run: cmake --build build --config Debug
      - if: runner.os == 'Linux'
        run: scripts/docker-entrypoint.sh
      - if: runner.os != 'Linux'
        run: ctest --output-on-failure --test-dir build
